
:root{
    --background-color: #0b0c10;
    --text-color: #7ff74c;
    --family-font: 'Tektur', sans-serif;
    --background-glitch: #1f2124;
}

.tektur {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--family-font);
    text-align: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.pantalla {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    box-sizing: border-box;
    align-items: center;
}

.caja {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* efecto de escritura */

.escritura {
    font-size: 2rem;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid var(--text-color);
    box-sizing: content-box;
    animation: typing 10s steps(54, end) forwards, blink .7s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    50% { border-color: transparent; }
}

/* efectos de neón */

.neon {
  color: var(--text-color);
  font-size: 9rem;
  margin-bottom: 20px;
  text-shadow:
    0 0 5px   var(--text-color),
    0 0 10px  var(--text-color),
    0 0 15px  var(--text-color),
    0 0 20px  var(--text-color);
  animation: flicker 4s infinite alternate ease-in-out, jitter 4s infinite;
}

@keyframes flicker {
  0%, 19%, 22%, 40%, 45%, 100% { 
    text-shadow:
      0 0 2px   var(--text-color),
      0 0 2px  var(--text-color),
      0 0 4px  var(--text-color),
      0 0 10px  var(--text-color);
    opacity: 1;
  }

    20%, 21%, 41%, 44% { 
        text-shadow: none;
        opacity: 0.8;
    }
}
@keyframes jitter {
  0% { transform: translate(0); }
  20% { transform: translate(-1px, 1px); }
  40% { transform: translate(-1px, -1px); }
  60% { transform: translate(1px, 2px); }
  80% { transform: translate(0px, -1px); }
  100% { transform: translate(0); }
}


/* warning de carga */
#loader {
  position: fixed;
  inset: 0;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 1s ease forwards;
  animation-delay: 3s;
  font-size: 50px;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* efecto de scanline */

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: repeating-linear-gradient(
    0deg,
    var(--background-glitch) 0px,
    var(--background-color) 1px,
    transparent 2px
  );
  animation: scan 6s linear infinite;
}

@keyframes scan {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

/* botones */
.menu {
  margin-top: 100px;
}
.cmd {
  display: block;
  margin: 1vh auto;
  width: fit-content;
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: .3s;
}
.cmd:hover {
  border-bottom: 1px solid var(--text-color);
}

.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

