
:root{
    --background-color: #0b0c10;
    --text-color: #7ff74c;
    --family-font: 'Tektur', sans-serif;
}


.tektur {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--family-font);
    text-align: center;
    padding: 20%;
}

.pantalla {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caja {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.escritura {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid var(--text-color);
    box-sizing: content-box;
    animation: typing 4s steps(54, end) forwards, blink .7s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.neon {
  color: var(--text-color);
  text-shadow:
    0 0 5px   var(--text-color),
    0 0 10px  var(--text-color),
    0 0 15px  var(--text-color),
    0 0 20px  var(--text-color);
  animation: flicker 4s infinite alternate ease-in-out, jitter 4s infinite;
}

@keyframes flicker {
  0%, 19%, 22%, 40%, 45%, 100% { 
    text-shadow:
      0 0 2px   var(--text-color),
      0 0 2px  var(--text-color),
      0 0 4px  var(--text-color),
      0 0 10px  var(--text-color);
    opacity: 1;
  }

    20%, 21%, 41%, 44% { 
        text-shadow: none;
        opacity: 0.8;
    }
}
@keyframes jitter {
  0% { transform: translate(0); }
  20% { transform: translate(-1px, 1px); }
  40% { transform: translate(-1px, -1px); }
  60% { transform: translate(1px, 2px); }
  80% { transform: translate(0px, -1px); }
  100% { transform: translate(0); }
}